.loader {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  background-color: white;
  animation-name: wedge;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes wedge {
  0% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      21% 100%,
      50% 100%,
      79% 100%,
      93% 75%,
      108% 50%,
      93% 25%,
      79% 0%,
      50% 0%
    );
  }
  8% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      21% 100%,
      50% 100%,
      79% 100%,
      93% 75%,
      108% 50%,
      93% 25%,
      79% 0%,
      79% 0%
    );
  }
  17% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      21% 100%,
      50% 100%,
      79% 100%,
      93% 75%,
      108% 50%,
      93% 25%,
      93% 25%,
      93% 25%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      21% 100%,
      50% 100%,
      79% 100%,
      93% 75%,
      108% 50%,
      108% 50%,
      108% 50%,
      108% 50%
    );
  }
  33% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      21% 100%,
      50% 100%,
      79% 100%,
      93% 75%,
      93% 75%,
      93% 75%,
      93% 75%,
      93% 75%
    );
  }
  42% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      21% 100%,
      50% 100%,
      79% 100%,
      79% 100%,
      79% 100%,
      79% 100%,
      79% 100%,
      79% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      21% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%
    );
  }
  58% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      21% 100%,
      21% 100%,
      21% 100%,
      21% 100%,
      21% 100%,
      21% 100%,
      21% 100%,
      21% 100%
    );
  }
  67% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      7% 75%,
      7% 75%,
      7% 75%,
      7% 75%,
      7% 75%,
      7% 75%,
      7% 75%,
      7% 75%,
      7% 75%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      -8% 50%,
      -8% 50%,
      -8% 50%,
      -8% 50%,
      -8% 50%,
      -8% 50%,
      -8% 50%,
      -8% 50%,
      -8% 50%,
      -8% 50%
    );
  }
  83% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      7% 25%,
      7% 25%,
      7% 25%,
      7% 25%,
      7% 25%,
      7% 25%,
      7% 25%,
      7% 25%,
      7% 25%,
      7% 25%,
      7% 25%
    );
  }
  92% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%,
      21% 0%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%,
      50% 0%
    );
  }
}
