.container {
    position: fixed;
    background-color: red;
    image-rendering: pixelated;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.container canvas {
    flex: 0 0 100px;
}
