body,
html {
  margin: 0;
  touch-action: none;

  --background-color: #0e0f12;
  --background-grid-color: #101217;
  --background-grid-thickness: 3px;
  --background-grid-size: 32px;

  --border-color: black;
  --button-color: lightgray;
  --input-color: lightgray;
}
